/* ========== Mobile First ==================
 */
/* ---------- Global Design 
  */

*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  color: #fff;
  background-color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

p {
  font-size: 16px;
  color: #fff;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  width: 100%;
}

/* ---------- My Projects
  */
.my-projects {
  background-color: rgb(245, 241, 241);
  padding: 20px;
}

.my-projects .box {
  display: Grid;
  gap: 40px;
}
section {
  margin-block-start: 10%;
}
section h4 {
  color: rgb(35, 36, 37);
  margin-block: 2em;
  text-transform: uppercase;
  font-weight: 200;
}
.project h6 {
  font-size: 0.8em;
  color: #333;
}
.project {
  background-color: #fff;
  padding: 0px 0 10px 0;
  border-radius: 3px;
  box-shadow: rgba(46, 46, 46, 0.13) 3px 5px 5px 5px;
}

@media (min-width: 500px) {
  /* general style  */
  .container {
    width: 90%;
    margin: auto;
  }

  .my-projects {
    grid-template-columns: auto auto auto;
  }
}
