/* ---------- Global Styles  ---------- */
*,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #555;
}
body {
  background-color: #fff;
  font-family: "Poppins", sans-serif;
}
/* ---------- Global Styles Ends Here ---------- */

/* ---------- Section ---------- */
section {
  width: 85%;
  margin: auto;
}
/* ---------- Section Ends Here ---------- */

/* ---------- Section Header---------- */
header {
  width: 90%;
  margin: auto;
  margin-block: 3em;
}
header h4 {
  font-weight: 200;

  margin-block-start: 0.5em;
}
header h5, header h4 {
  font-size: calc(1.2em + 1vw);
  text-align: center;
}
header p {
  margin-top: 0em;
  font-size: calc(0.8em + 0.5vw);
  text-align: center;
  /* padding: 10px 18px 18px 10px; */
  font-weight: 400;
  color: #0e0e0e8a;
}

/* ---------- Section Header Ends Here---------- */

/* ---------- Section content---------- */
.card {
  background-color: #fff;
  padding: 2.1em;
  border-radius: calc(4px + 1vw);
  margin-bottom: 2em;
  box-shadow: rgba(2, 95, 150, 0.24) 0px 20px 20px;
}

.card-1 {
  border-top: calc(3px + 0.5vw)    solid hsl(180, 62%, 55%);
}
.card-2a {
  margin-block-end: 2em;
  border-top: calc(3px + 0.5vw) solid hsl(0, 78%, 62%);
}
.card-2b {
  border-top: calc(3px + 0.5vw) solid hsl(34, 97%, 64%);
}
.card-3 {
  border-top: calc(3px + 0.5vw) solid hsl(212, 86%, 64%);
}

/* image */
.card img {
  width: 50px;
  display: flex;
  margin-left: auto;
  margin: 2em 0 0 auto;
}

/* Fonts */
section .content h6 {
  font-size: 1.2em;
}
section .content p {
  color: #0e0e0e9a;
  font-size: 0.8em;
  margin-block: 10px;
}

/* ---------- Section content ends here---------- */

/* ---------- Footer  ---------- */

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* ---------- Footer  ends here ---------- */

/* ----------- Desktop Version --------- */
@media (min-width: 500px) {
  .content {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
  }

  /* Fonts */
  section .content h6 {
    font-size: 1em;
  }
  section .content p {
    font-size: 0.8em;
  }

  .card {
    padding: 1em;
  }
}
/* ----------- Desktop Version ends here --------- */
